<h1>Who I am</h1>
<p>I'm a small-time developer living in the suburbs of Philadelphia. I couldn't be more proud of my wife and daughter.
  We live in a great house just outside of Malvern, PA. We are growing into our neighborhood. We love participating in
  community events.</p>
<p>My life and my career started in downtown Philadelphia. I struggled with college and finding what it was that I
  wanted to do. I was attending Rutgers in Camden while waiting tables and bartending. I knew that I wanted something
  else and college while working was too much. I dropped out of college and was lucky to find a position at
  VINtek.</p>
<p><b>VINtek</b> had two main product offerings - a VIN decoder and title management services that included electronic
  car titles. It was the company I had dreamed of working at. It was small and tech driven. When the air conditioning
  came on we would sometimes lose power and have a server outage. If you called in to
  VINtek in 2004 then there's a good chance I helped you reset your password or maybe answer some questions about how
  our software worked. As time went on, VINtek gave me the opportunity to go in a couple of directions. Sales was a dead
  end for me and I eventually moved into doing the implementations for VINtekTIME, the title management software.
  Eventually I would write the manual for the product. Over one hundred pages of lien and title mayhem. My only regret
  was never working in the phrase "Title Wave".</p>
<p>In 2010 I made my final attempt to quit smoking and in 2011 I ran my first marathon. I gave up bartending at night
  since my day job was paying the bills. I bought a duplex in Philadelphia with two friends and an FHA loan. I felt that
  I could have a big future if I started doing some simple things.
  There were stories that kids told when I was growing up about how their grandparents had bought a single share of Coca
  Cola and now it was worth tens of thousands of dollars. I bought a couple of stocks. I picked up Netflix when it was
  down, I bought Facebook when it went public. I watched a documentary on Tesla and bought a share at $42. Why didn't I
  buy Amazon?! WHY?!</p>
<p>I was changing and it was time to see if I could do something more with my career. Coming off of my first office job,
  my goal was to get a position as an Implementation Coordinator. At the time, this felt like a long shot and I wanted
  more than anything to get that second job to prove to myself and to the world that I was qualified.</p>
<p><b>Academy One</b>, just outside of West Chester, hired me. I was excited to begin the work and right out of the gate
  it
  felt exciting. I was writing documentation and using regex to parse course curricula. I started using Developer Tools
  in Firefox to experiment with HTML and CSS. Unfortunately the job was a real yawn and I wanted something with a faster
  pace.</p>
<p><b>WizeHive</b>, a startup in Conshohocken, gave me a spot as Implementation Consultant. My excitement was through
  the roof and I think I was high on life for the first three years there. I couldn't believe how much I was learning -
  HTML,
  CSS, and eventually Javascript. Eventually I became dangerous with CSS. I was a loose cannon - doing previously
  undreamed of things with CSS - creatinowng galleries of images, making galleries of contest cards responsive within an
  iframe! As my skills grew, so did my role.</p>
<p>They gave me the opportunity to build plugins for the new WizeHive product - Zengine. Not only did the product have a
  hot name, but it was written in AngularJS, the BetaMax of programming languages. I'm sure it took a great deal of zen
  patience from management as they brought me up to speed on creating plugins. Eventually I learned a bit about AWS
  Lambda functions, git, functional programming, and Javascript - both AngularJS and NodeJS.</p>
<p>It was all very exciting but things were changing rapidly at WizeHive and I was about to have a baby. What better
  time to change jobs?! </p>
<p><b>Berkadia</b>, which I
  considered to be a huge company brought me onboard as a Developer. I came on board with a hoard of other new hires as
  we began innovating up the place.
  Berkadia had survived 2008 relatively unscathed due to their steadfast virtue or lack of imagination and so had
  received capital to build out a small loan platform to bring in smaller players in the commercial lending space. We
  worked to create an Angular (5,6,7) application, with a NodeJS backend. It was all architected using Docker on
  Kubernetes, with Elasticache, Logstash, and Kibana for monitoring. We used a trunk based strategy where we would make
  our changes, review, then merge to master. Sure we had conversations around short-lived branches but it never happened
  while I was there. What a world, and I wish I could have stayed to see it grow more. I had seen Agile in the past but
  Berkadia made it real and showed me that it could work. I learned a ton about how work can get done when teams of
  people work together.</p>
<p>As a dad, I began to start worrying more about my family. My wife and I decided it would be best if she stayed home
  and that meant I needed to make more money. I began looking around and interviewing.</p>
<p><b>Vanguard</b> was not interested in taking me on as a senior developer. No surprise to me. However, they were kind
  enough to review my application and find a spot for me. I began work at Vanguard, finding things to do for the
  Performance and Attribution team. We did some minor proofs of concept, parsed lots of data with Java and then Python.
  I started writing more Python, using Pandas. I automated some processes with it, I saved some data to the cloud. We
  used Athena to get data from some S3 buckets. I was learning something new.</p>
<p>I took some time to get an AWS Developer Certification and Vanguard sent me to re:Invent in 2019. I could not believe
  the scale of it. People were everywhere and I got to learn a ton. I also got to take home about 30 stuffed animals for
  my daughter. Awesome. When we got back we presented on our adventure and I nailed the presentation. I enjoy
  presenting, I love telling a story, and I had prepared. I got a great response and I gained some great advocates at
  Vanguard.</p>
<p>I moved to a new team, tasked with modernizing the back end infrastructure to provide data to consumers. We drop data
  to s3 buckets, distribute the data via Java Spring Boot API on ECS, and use AppSync to distribute data via GraphQL.
  The team I am on is similar in many ways to teams I have been on in the past. We do what is needed at the time, and
  pick up work wherever we can. We learn and implement new things frequently. We talk to each other quite a bit about
  how we should be getting the work done and what work we should be doing. We have challenges and we are all very
  different people. My current team makes me think less about the code we are writing but how we communicate about the
  work we are doing. It's more important to me to understand people I work with and how to work with them, and not just
  the code we are writing together.</p>
<p>Since joining Vanguard I've sold the duplex and moved out of Philadelphia to Malvern with my little family. We
  couldn't be happier to be here. The area is beautiful. We love going to the community events and volunteering where
  and when we can. We've made friends quickly and can't wait to see what's next.</p>