<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [(opened)]="opened" mode="side">
    <app-sidenav (close)="sidenav.toggle(); menuButton()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout="row">
      <div>
        <p>
          <button
            mat-button
            (click)="sidenav.toggle(); menuButton()"
            *ngIf="showMenu"
          >
            <i class="material-icons">
              arrow_forward_ios
            </i>
          </button>
        </p>
      </div>
      <div class="pad-top">
        <p class="mat-display-1">
          {{ title }}
        </p>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
