<!--The content below is only a placeholder and can be replaced.-->

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [(opened)]="opened" mode="side">
    <p>
      <button
        class="right-align fill-width"
        mat-button
        (click)="sidenav.toggle(); menuButton()"
      >
        <i class="material-icons">
          arrow_back_ios
        </i>
      </button>
    </p>
    <mat-list>
      <mat-list-item> Summary </mat-list-item>
      <mat-list-item> Experience </mat-list-item>
      <mat-list-item> Employment </mat-list-item>
      <mat-list-item> Experiments </mat-list-item>
      <mat-list-item> Interests </mat-list-item>
    </mat-list>
    <div fxLayout="row" fxLayoutAlign="space-evenly end" class="mat-display-1">
      <fa-icon [icon]="faGithub"></fa-icon>
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout="row">
      <div>
        <p>
          <button
            mat-button
            (click)="sidenav.toggle(); menuButton()"
            *ngIf="showMenu"
          >
            <i class="material-icons">
              arrow_forward_ios
            </i>
          </button>
        </p>
      </div>
      <div class="pad-top">
        <p class="mat-display-1">
          {{ title }}
        </p>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
