<!--The content below is only a placeholder and can be replaced.-->

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav  [(opened)]="opened" mode="side">
        <p><button  class="right-align fill-width" mat-button (click)="sidenav.toggle(); menuButton()"><i class="material-icons">
            arrow_back_ios
            </i></button></p>
            <mat-list>
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
               </mat-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p class="float-nav-button"><button mat-button (click)="sidenav.toggle(); menuButton()" *ngIf="showMenu"><i class="material-icons">
          arrow_forward_ios
          </i></button></p>
      <div style="text-align:center">
        <h1 class="mat-display-1">
          {{ title }}
        </h1>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>



<router-outlet></router-outlet>
