<p class="pad-top">
  <button class="right-align fill-width" mat-button (click)="close.emit()">
    <i class="material-icons">
      arrow_back_ios
    </i>
  </button>
</p>
<mat-list>
  <mat-list-item>
    <button mat-button routerLink="/summary" routerLinkActive="active">
      Summary
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/experience" routerLinkActive="active">
      Experience
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/employment" routerLinkActive="active">
      Employment
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/experiments" routerLinkActive="active">
      Experiments
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/interests" routerLinkActive="active">
      Interests
    </button>
  </mat-list-item>
</mat-list>
<div
  fxLayout="row"
  fxLayoutAlign="space-evenly end"
  class="mat-display-1 pad-top"
>
  <a href="https://github.com/gitsean"><fa-icon [icon]="faGithub"></fa-icon></a>
  <a href="https://www.linkedin.com/in/sareid"
    ><fa-icon [icon]="faLinkedinIn"></fa-icon
  ></a>
</div>
